@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Press+Start+2P&family=Righteous&display=swap');



body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(243, 243, 237)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}








.cursor{
    display: inline-block;
    width: 0.04em; /* Se ajusta según el tamaño del texto */
    height: 1em;
    background-color: black;
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}



.titulo-seccion{
    font-family: "Righteous", sans-serif;
}

.carousel-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30%;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}









.link{
    color: rgb(209, 149, 10);

}

.titulo{
    color: rgb(181, 119, 33);
    font-size: 5vw;
}


.links{
    color:rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
}
.menu{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu:hover{
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra en el hover */
}


.escribible{
    font-size: 55px;
}

#escribible{
    font-size: 40px;
    font-family: "Press Start 2P", system-ui;
    display: inline-flex;
    align-items: center;
}

#cursor{
    font-weight: bold;
    color:black;
    font-size: 70px;
    animation: blink 0.7s steps(2, start) infinite; /* Efecto de parpadeo */
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.1%, 100% { opacity: 0; }
}




.position-relative:hover{
    transform: scale(1.1);
}

.position-relative{
    position:relative;
    transition: transform 0.3s ease;
}

.text-overlay{
    position: absolute;
    width: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 245, 245, 0.5);
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    font-size:16px ;
}